<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
        <!-- Optional : filter logs at or above a level -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <flushLevel>TRACE</flushLevel> <!-- Optional : default ERROR -->
    </appender>

    <root level="INFO">
        <appender-ref ref="CLOUD" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>